


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
    <label for="">Id:&nbsp;&nbsp;</label>
    <input type="text"  [(ngModel)]="empid" class="form-control" readonly><br><br>
    <label for="">Firstname:&nbsp;&nbsp;</label>
    <input type="text"  [(ngModel)]="firstname" class="form-control"><br><br>
    <label for="">Lastname:&nbsp;&nbsp;</label>
    <input type="text"  [(ngModel)]="lastname" class="form-control"><br><br>
    <label for=""><Address></Address>:&nbsp;&nbsp;</label>
    <input type="text"  [(ngModel)]="address" class="form-control"><br><br>
    <label for="">Dob:&nbsp;&nbsp;</label>
    <input type="text"  [(ngModel)]="dob" class="form-control"><br><br>
    <label for="">Mobile:&nbsp;&nbsp;</label>
    <input type="text"  [(ngModel)]="mobile" class="form-control"><br><br>
    <label for="">city:&nbsp;&nbsp;</label>
    <input type="text"  [(ngModel)]="city" class="form-control"><br><br>
    
    <button (click)="onfinalupdate()" class="btn btn-success">send data</button><br><br>


</div>
</div>
</div>
</div>

<a routerLink="/home">Home</a><br><br>
